article nav {

  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

 span h1 {
margin-left: 30%;
font-size: 3rem; 
}
article img{
  margin-left: 10%;
}
div img {
  margin-left: 20%;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(248, 138, 12);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  


